
@{
    ViewBag.Title = "Index";
}

<div class="row Index">
    <div class="Om-mig">
        <div class="col-lg-8">
            <h2>Lidt om mig</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a tincidunt velit. Aenean facilisis quam ante, eget tristique erat gravida eu. Quisque sodales ipsum in dolor vestibulum, vitae tincidunt mi elementum. Curabitur id venenatis metus. Integer commodo vestibulum augue et dignissim. Morbi tellus metus, rhoncus at pulvinar nec, varius et nulla. Donec congue, augue vel sagittis luctus, lacus metus volutpat magna, ultrices ornare velit metus sollicitudin diam. Suspendisse elementum mattis nisi, ac euismod mauris accumsan a. Mauris sed porta dui, ac molestie enim. Mauris fringilla pretium dui id imperdiet.</p>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
            <img src="http://via.placeholder.com/200x250" class="img-responsive" alt="Billede af Mig" />
        </div>
    </div>
    <div class="Index-Refencer">
        @*Loop fire referencer fra databasen ud her*@
        <div class="col-lg-3 refencer-box">
            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference" />
            <h3>Reference 1</h3>
            <p>lidt text om referencen</p>
            <a href="#">Læs mere...</a>
        </div>
        <div class="col-lg-3 refencer-box"> 
            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference"  />
            <h3>Reference 2</h3>
            <p>lidt text om referencen</p>
            <a href="#">Læs mere...</a>
        </div>
        <div class="col-lg-3 refencer-box">
            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference"  />
            <h3>Reference 3</h3>
            <p>lidt text om referencen</p>
            <a href="#">Læs mere...</a>

        </div>
        <div class="col-lg-3 refencer-box">
            <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference" />
            <h3>Reference 4</h3>
            <p>lidt text om referencen</p>
            <a href="#">Læs mere...</a>

        </div>
</div>
</div>
