
@{
    ViewBag.Title = "Referencer";
}
@section CSS{ 
<link href="~/Content/Css/CSS-image-hover/style1.css" rel="stylesheet"/>
<link href="~/Content/Css/CSS-image-hover/style_common.css" rel="stylesheet"/>
}


<div class="main row">
    <div class="view view-first col-lg-3">
        <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference" />
        <div class="mask">
            <h2>Reference #1</h2>
            <p>Noget tekst angående referencen Noget tekst angående referencen Noget tekst angående referencen Noget tekst angående referencen </p>
            <a href="#" class="info">Læs mere</a>
        </div>
    </div>
    <div class="view view-first col-lg-3">
        <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference" />
        <div class="mask">
            <h2>Reference #2</h2>
            <p>Noget tekst angående referencen</p>
            <a href="#" class="info">Læs mere</a>
        </div>
    </div>
    <div class="view view-first col-lg-3">
        <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference" />
        <div class="mask">
            <h2>Reference #3</h2>
            <p>Noget tekst angående referencen</p>
            <a href="#" class="info">Læs mere</a>
        </div>
    </div>
    <div class="view view-first col-lg-3">
        <img src="http://via.placeholder.com/250x250" class="img-responsive" alt="reference" />
        <div class="mask">
            <h2>Reference #4</h2>
            <p>Noget tekst angående referencen</p>
            <a href="#" class="info">Læs mere</a>
        </div>
    </div>
</div>