.Index img[alt="Billede af Mig"] {
  margin-left: 31.25px;
}
.refencer-box {
  margin-top: 10px;
}
* {
  box-sizing: border-box;
}
.navbar-header {
  width: 100%;
}
.navbar-header .navbar-collapse {
  margin-top: 12.5px;
  float: right;
  font-size: 1.2em;
}
.body-content {
  margin-top: 55px;
}