@import "Variables.less";
@import "Index.less";

*{
    box-sizing:border-box;
}

body {
}

.navbar-header {
    width:100%;


    .navbar{
        &-collapse{
            margin-top:12.5px;
            float:right;
            font-size:1.2em;
        }
    } 
}

.body-content{
    margin-top:55px;
}